*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

.card{

  height:300px;
  width:270px;
  border:1px solid rgba(117, 114, 114, 0.935);
  border-radius: 20px;
  padding:15px;
  margin:20px;
  color:rgb(45, 33, 33);
  background-color: rgba(240, 235, 235, 0.815);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  display:flex;
  flex-direction: column;
  justify-content: space-between;


}

.top{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.top>img{
  width:50px;
  height: 50px;
  border-radius: 50%;
  object-fit:fill;
  border:0.5px solid rgba(140, 140, 140, 0.775);
  
}

.top button{
  color:rgba(0, 0, 0, 0.792);
  width:56px;
  height:30px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  border:none;
  background-color: rgba(250, 250, 250, 0.843);
  padding: 4px;
}
.top button img{
  width:20px;
  color: rgba(0, 0, 0, 0.792);

}

.center{
  margin-top:20px;
  margin-bottom: 20px;
}
.center > div{
  display:flex;
  align-items: center;
  gap:10px;
  margin-bottom: 10px;
}

.center button{
  border:0.5px solid rgba(224, 211, 211, 0.32);
  background-color: rgba(250, 250, 250);
  color: rgba(14, 15, 15, 0.831);
  border-radius:3px;
  padding:3px 5px;
  margin-right: 5px;
  margin-top:10px;
}

.bottom{
  display:flex;
  justify-content: space-between;

}

.bottom button{
  border-radius: 7px;
  padding:5px 10px;
  border: none;
  height: 30px;
  background-color: black;
  color: white;
}

